* {
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;

    /* border: 1px solid gray; */
}

.horizontal-flex-container {
    display: flex;


}
.hidden {
    position: absolute;
    display: none;
    visibility: hidden;
}

input {
    display: block;
}

.hole-container {
    background-color: lightcyan;
    display: flex;

}
.foursomes-container {
    display: inline;
    width: 25px;
    float: left;
}

.wolf {
    color: red;
}

.stakes-container {
    background-color: goldenrod;

}