* {
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    /* border: 1px solid gray; */
}
.hidden {
    position: absolute;
    display: none;
    visibility: hidden;
}

input {
    display: block;
}

.hole-container {
    background-color: lightcyan;
    display: flex;

}
.foursomes-container {
    display: inline;
    width: 25 px;
    float: left;
}

.wolf {
    color: red;
}